/**
 *
 * The style of the first registration page
 *
**/

.buttonsStickyContainer {
    position: sticky;
    bottom: -1px;
    background: var(--main-background);
    padding-top: var(--page-margin);
    padding-bottom: calc(var(--page-margin) + 1px);
    box-shadow: 0px -18px 18px var(--main-background), 0px -24px 30px var(--main-background), var(--page-margin) -18px 18px var(--main-background), var(--page-margin) -18px 18px var(--main-background);
}

.buttonsStickyContainer[data-sticky=false] {
    box-shadow: none;
}