/**
 *
 * The style of general components
 *
**/


/* Buttons */

.button {
    font-size: 16px;
    padding: 12px 24px;
    margin: 4px;
    border: solid 1px transparent;
    border-radius: 40px;
    background-color: var(--accent-color-faint);
    width: fit-content;
    transition: box-shadow 0.12s;
    color: var(--accent-color);
    /* Make buttons unselectable*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
    /* Remove underline from links! */
    text-decoration: none;
    font-weight: 500;
}

.primarybutton {
    background-color: var(--accent-color);
    color: white;
}

.lightButton {
    background-color: transparent;
}

.button:hover,
.button:focus {
    box-shadow: -2px 2px 5px var(--accent-color-lighter), 2px 2px 5px var(--accent-color-lighter);
    border-color: var(--accent-color);
    outline: none;
}

.lightButton:hover,
.lightButton:focus {
    box-shadow: none;
    border-color: transparent;
    background-color: var(--accent-color-faint);
    outline: none;
}

.button:active {
    background-color: var(--accent-color-lighter);
}

.primarybutton:active {
    background-color: var(--accent-color-active);
}

.lightButton:active {
    background-color: var(--accent-color-lighter);
    box-shadow: -2px 2px 5px var(--accent-color-faint), 2px 2px 5px var(--accent-color-faint);
}


/* Text input fields */

.inputFieldContainer {
    width: fit-content;
    height: fit-content;
    max-width: 100%;
    margin: 12px 4px;
    margin-bottom: 4px;
    padding: 0px;
    position: relative;
}

.inputFieldContainer .inputFieldLabel {
    color: var(--background-bold);
    position: absolute;
    font-size: 16px;
    margin-top: 16px;
    margin-left: 12px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    pointer-events: none;
    padding: 0px 6px;
    transition: margin 0.1s;
    left: 0px;
    top: 0px;
    font-weight: 500;
}

.inputField::placeholder {
    user-select: none;
}

.inputField::-webkit-input-placeholder {
    user-select: none;
}

.inputField::-moz-placeholder {
    user-select: none;
}

.inputFieldContainer .inputFieldHint {
    max-width: 100%;
    height: fit-content;
    text-align: left;
    font-size: 14px;
    padding: 4px;
    padding-top: 8px;
    opacity: 0.8;
}


/*.inputFieldContainer .inputFieldHint.hintAction text {
    font-weight: bold;
    color: var(--accent-color);
    cursor: pointer;
}*/

.inputFieldContainer .inputFieldDataContainer:focus-within .inputFieldLabel,
.inputField:not(:placeholder-shown):not(:focus)+.inputFieldLabel {
    color: var(--accent-color);
    margin-top: -12px;
    background-color: var(--main-background);
}

.inputField:not(:placeholder-shown):not(:focus)+.inputFieldLabel {
    color: var(--background-bold);
}

.inputField {
    font-size: 16px;
    padding: 14px 16px;
    border: solid 2px var(--background-blend);
    background-color: var(--background-blend);
    border-bottom: solid 2px var(--background-bold);
    border-radius: 4px 4px 0px 0px;
    color: var(--text-color);
    width: calc(100% - 4px - 16px - 16px);
}


/*.inputField::placeholder {
    color: var(--background-bold);
    opacity: 1;
}

.inputField:focus::placeholder {
    color: var(--accent-color-lighter);
}*/

.inputField:focus,
.inputField:not(:placeholder-shown) {
    border: solid 0px transparent;
    background-color: var(--main-background);
    border: solid 2px var(--accent-color);
    border-radius: 4px;
    outline: none;
}

.inputField:not(:placeholder-shown):not(:focus) {
    border-color: var(--background-bold);
}


/* <Notice> */

.notice {
    max-width: 100%;
    height: fit-content;
    text-align: left;
    font-size: 16px;
    padding: 4px;
    opacity: 0.5;
}


/* <Mark> */

.mark {
    display: inline-block;
    color: var(--accent-color);
}


/* <FlexContainer> */

.flexContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 24px;
    max-width: 100%;
}

.flexContainer.spaceBetween {
    justify-content: space-between;
}

.flexContainer.spaceAround {
    justify-content: space-around;
}

.flexContainer.horozontal {
    flex-direction: row;
    height: fit-content;
    max-width: 100%;
    width: 100%;
}

.flexContainer.noFlexGrow {
    flex-grow: 0;
}


/* <Link> */

.link {
    font-weight: bold;
    color: var(--accent-color);
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
    text-decoration-style: dashed;
}


/* <CheckBox> */

.checkBoxContainer {
    font-size: inherit;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: inherit;
}

.checkBoxContainer .checkBox {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* Not removed via appearance */
    margin: 0;
    font-size: inherit;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: solid 2px var(--background-bold);
    background-color: transparent;
    border-radius: 2px;
}

.checkBoxContainer .checkBox:focus {
    outline: none;
}

.checkBoxContainer .checkBox:active {
    border-color: var(--accent-color);
}

.checkBoxContainer .checkBox:checked {
    transition: background-color 0.2s;
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}


/*.checkBoxContainer .checkBox::before {
    content: "";
    display: block;
    width: 11px;
    height: 11px;
    margin: 2px;
    background-color: var(--background-bold);
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: rotate(8deg);
    opacity: 0;
}

.checkBoxContainer .checkBox:checked::before {
    transition: background-color 0.1s, opacity 0.05s;
    opacity: 1;
    background-color: white;
}*/

.checkBoxContainer .checkBox::before {
    content: "";
    display: block;
    transform: rotate(45deg);
    height: 8px;
    width: 4px;
    margin: 1px 4px;
    border-bottom: 3px solid var(--accent-color);
    border-right: 3px solid var(--accent-color);
    opacity: 0;
}

.checkBoxContainer .checkBox:checked::before {
    transition: border 0.16s;
    opacity: 1;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
}

.checkBoxContainer label {
    font-size: inherit;
    width: fit-content;
    height: 1.2em;
    cursor: pointer;
    line-height: 1em;
    padding-left: 0.5em;
}