/**
 *
 * The style of the global bar and its elements
 *
**/

.globalbar {
    height: var(--globalbar--height);
    transition: all 0.1s;
    opacity: 0.4;
    flex-grow: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.globalbar[data-show-content=false] {
    animation: fadeInMain 3s ease forwards;
}

.globalbar[data-show-content=true] {
    animation: fadeInMainFull 2s cubic-bezier(0.87, 0.02, 0.01, 1) forwards;
}

@keyframes fadeInMain {
    from {
        transform: scale(0.7);
    }
    to {
        transform: scale(0.75);
    }
}

@keyframes fadeInMainFull {
    0% {
        opacity: 0.4;
        transform: scale(0.74);
        flex-grow: 1;
    }
    25%,
    50% {
        opacity: 1;
        transform: scale(1);
        flex-grow: 1;
    }
    100% {
        opacity: 1;
        transform: scale(1);
        flex-grow: 0;
    }
}

.userprofile {
    width: 72px;
    height: 72px;
    background-color: #eeeeee;
    border: 1px solid #d8d8d8;
    box-shadow: 0px 1px 4px #e0e0e0;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.userProfileImage {
    border-radius: 100%;
}

.globalbar[data-show-content=false] .userProfileImage {
    animation: opacityInOut 2s ease-in-out infinite forwards;
}

@keyframes opacityInOut {
    0% {
        opacity: 0.64;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.64;
    }
}