/**
 *
 * The style of the global footer and its elements
 *
**/

.globalfooter {
    height: var(--globalfooter--height);
    text-align: center;
    line-height: var(--globalfooter--height);
    font-size: 12px;
    opacity: 0;
    font-weight: 400;
}

.globalfooter,
.globalfooter text {
    color: var(--background-bold);
}

.globalfooter[data-show-content=true] {
    animation: opacityIn 0.2s ease-in forwards;
    animation-delay: 1.2s;
}

@keyframes opacityIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: unset;
    }
}