/**
 *
 *  Manage the style of the local content element
 *
**/

.localcontent {
    /*background-color: #fafafa;*/
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    /*box-shadow: 0px 0px 4px #cacaca;
    border-radius: 12px;*/
    max-width: 86%;
    margin: 0px 10%;
    position: relative;
    display: flex;
    align-items: stretch
}

@media (pointer:none),
(pointer:coarse) {
    .localcontent {
        max-width: 100%;
        margin: 0px;
        /*background-color: unset;
        box-shadow: unset;*/
    }
}

.localcontent[data-show-content=false] {}

.localcontent {
    overflow: hidden;
    max-height: 0px;
    flex-grow: 0;
}

.localcontent[data-show-content=true] {
    flex-grow: 1;
    animation-name: showContent;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0.8s;
}

@keyframes showContent {
    0% {
        max-height: 0px;
        opacity: 0;
    }
    99% {
        max-height: calc(100vh - var(--page-margin) - var(--globalbar--height));
        opacity: 1;
    }
    100% {
        max-height: unset;
    }
}

.container,
.loadingContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    width: 100%;
}

.container:empty {
    display: none;
}

.loadingContainer {
    justify-content: center;
    align-items: center;
}