/**
 *
 *  Manage the style of the local content element
 *
**/

.localcontent {
    /*background-color: #fafafa;*/
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    /*box-shadow: 0px 0px 4px #cacaca;
    border-radius: 12px;*/
    max-width: 86%;
    margin: 0px 10%;
    position: relative;
    display: flex;
    align-items: stretch
}

@media (pointer:none),
(pointer:coarse) {
    .localcontent {
        max-width: 100%;
        margin: 0px;
        /*background-color: unset;
        box-shadow: unset;*/
    }
}

.localcontent {
    overflow: hidden;
    max-height: 0px;
    flex-grow: 0;
    opacity: 0;
}

.localcontent[data-show-content=true] {
    flex-grow: 1;
    animation-name: showContent;
    animation-duration: 0.8s;
    animation-timing-function: cubic-bezier(.37, 0, 0, .99);
    animation-fill-mode: forwards;
    animation-delay: 1.0s;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-delay: 1.1s;
    transition-timing-function: linear;
    opacity: 1;
}

@keyframes showContent {
    0% {
        max-height: 0px;
    }
    99% {
        max-height: calc(100 * var(--vh) - var(--page-margin) - var(--globalbar--height));
    }
    100% {
        max-height: unset;
    }
}

.container,
.loadingContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    width: 100%;
}

.container:empty {
    display: none;
}

.loadingContainer {
    justify-content: center;
    align-items: center;
}

body[data-loaded=true] {
    animation-name: scrollHalt;
    animation-duration: 0s;
    animation-delay: 1.8s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    overflow-y: hidden;
}

@keyframes scrollHalt {
    from {
        overflow-y: hidden;
    }
    to {
        overflow-y: auto;
    }
}